:host {
	display: block;
}

.newsletter {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	padding: 48px 24px;
	background-color: #eff6ff;
	text-align: center;
}

.newsletter__form {
	display: flex;
	gap: 16px;
	align-items: center;
}
