:host {
	display: block;
}

.textarea-field {
	display: flex;
	flex-direction: column;
	gap: var(--oc-spacing-8);
}

.textarea-field__label {
	font-family: var(--oc-theme-typography-label-default-font-family);
	font-size: var(--oc-theme-typography-label-default-font-size);
	line-height: var(--oc-theme-typography-label-default-line-height);
	letter-spacing: var(--oc-theme-typography-label-default-letter-spacing);
	text-transform: var(--oc-theme-typography-label-default-text-transform);
	font-weight: var(--oc-theme-typography-label-default-font-weight);
	color: var(--oc-theme-color-content-default);
}

.textarea-field__textarea {
	min-height: 162px;
	padding: var(--oc-spacing-8) var(--oc-spacing-12);
	font-family: var(--oc-theme-typography-body-default-font-family);
	font-size: var(--oc-theme-typography-body-default-font-size);
	line-height: var(--oc-theme-typography-body-default-line-height);
	letter-spacing: var(--oc-theme-typography-body-default-letter-spacing);
	text-transform: var(--oc-theme-typography-body-default-text-transform);
	font-weight: var(--oc-theme-typography-body-default-font-weight);
	color: var(--oc-theme-color-content-default);
	background-color: var(--oc-theme-color-background-default);
	border: var(--oc-theme-border-width-sm) solid
		var(--oc-theme-color-border-default);
	border-radius: var(--oc-theme-border-radius-sm);
	outline: none;
	resize: vertical;
	transition: border-color var(--oc-theme-animation-fade-quick)
		var(--oc-theme-animation-ease);
}

.textarea-field__textarea::placeholder {
	color: var(--oc-theme-color-content-subtle);
}

.textarea-field__textarea:focus {
	border-color: var(--oc-theme-focus-ring-color-border-default);
}
