/* ==========================================================================
   Card Grid Block
   ========================================================================== */

:host {
	display: block;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
.grid {
	display: grid;
	gap: 24px;
}

.grid--3up {
	grid-template-columns: repeat(3, 1fr);
}
