/* ==========================================================================
   Card
   ========================================================================== */
:host {
	display: block;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

.card {
	display: flex;
	flex-direction: column;
	padding: var(--oc-spacing-24);
	gap: var(--oc-spacing-16);
	background-color: var(--oc-theme-color-background-default);
	border: var(--oc-theme-border-width-sm) solid
		var(--oc-theme-color-border-subtle);
	border-radius: var(--oc-theme-border-radius-sm);
	text-align: left;
}
