/* ==========================================================================
   Header Block
   ========================================================================== */
:host {
	display: block;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--oc-spacing-24);
	background-color: var(--oc-theme-color-background-knockout);
}

.logo {
	width: 40px;
	height: 40px;
	background-color: var(--oc-theme-color-background-brand-knockout);
	border-radius: 50%;
}

.logo-link {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.primary-nav__list {
	display: flex;
	gap: var(--oc-spacing-24);
	list-style: none;
	margin: 0;
	padding: 0;
}

.primary-nav__link {
	font-family: var(--oc-theme-typography-body-default-font-family);
	font-size: var(--oc-theme-typography-body-default-font-size);
	line-height: var(--oc-theme-typography-body-default-line-height);
	font-weight: var(--oc-theme-typography-body-default-font-weight);
	letter-spacing: var(--oc-theme-typography-body-default-letter-spacing);
	text-transform: var(--oc-theme-typography-body-default-text-transform);
	color: var(--oc-theme-color-content-knockout);
	text-decoration: none;
	transition: opacity var(--oc-theme-animation-fade-quick)
		var(--oc-theme-animation-ease);
}

.primary-nav__link:hover {
	opacity: 0.8;
}
