---
layout: base.njk
title: Home — Our Company
---

<my-header></my-header>

<main class="main">

	<my-band style="display: block;min-height: 100vh; background-color: var(--oc-theme-color-background-brand); display: flex; flex-direction: column; justify-content: center; align-items: center;">
		<my-layout-container>
			<my-section heading="Welcome to our brand-new Eleventy site!">
				<my-text-passage class="u-margin-bottom-32">
					<p>Subscribe to our newsletter to receive the latest news and updates.</p>
				</my-text-passage>
				<my-newsletter-form></my-newsletter-form>
			</my-section>
		</my-layout-container>
	</my-band>
</main>

<my-footer></my-footer>
