/* ==========================================================================
   Hero Layout
   ========================================================================== */

:host {
	display: block;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.hero {
	text-align: center;
}

.hero__heading {
	margin-block-end: var(--oc-spacing-24);
}

.hero__description {
	display: block;
	max-width: 672px;
	margin: 0 auto var(--oc-spacing-32);
}
