/* ==========================================================================
   Hero Layout
   → components/hero/hero.css
   ========================================================================== */

.hero {
	text-align: center;
}

.hero__heading {
	margin-block-end: 24px;
}

.hero__description {
	max-width: 672px;
	margin: 0 auto 32px;
}
