:host {
	display: block;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.page-header {
	margin-block-end: var(--oc-spacing-16);
}

.page-header__description {
	margin-block-start: var(--oc-spacing-16);
}
