/* ==========================================================================
   Layout Container

   ========================================================================== */

:host {
	display: block;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

.layout-container {
	margin: 0 auto;
	padding: 0 var(--oc-spacing-24);
	max-width: 1143px;
}

.layout-container--narrow {
	max-width: 672px;
}
