/* ==========================================================================
   Footer Block
   ========================================================================== */
:host {
	display: block;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

.footer {
	display: flex;
	flex-direction: column;
	gap: var(--oc-spacing-16);
	padding: var(--oc-spacing-16) 0;
	background-color: var(--oc-theme-color-background-subtle);
}

.footer__copyright {
	font-family: var(--oc-theme-typography-body-sm-font-family);
	font-size: var(--oc-theme-typography-body-sm-font-size);
	line-height: var(--oc-theme-typography-body-sm-line-height);
	font-weight: var(--oc-theme-typography-body-sm-font-weight);
	letter-spacing: var(--oc-theme-typography-body-sm-letter-spacing);
	text-transform: var(--oc-theme-typography-body-sm-text-transform);
	color: var(--oc-theme-color-content-subtle);
	margin: 0;
	text-align: center;
}

.footer-nav__list {
	display: flex;
	gap: var(--oc-spacing-24);
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer-nav__link {
	color: var(--oc-theme-color-content-subtle);
	font-family: var(--oc-theme-typography-body-default-font-family);
	font-size: var(--oc-theme-typography-body-default-font-size);
	line-height: var(--oc-theme-typography-body-default-line-height);
	font-weight: var(--oc-theme-typography-body-default-font-weight);
	letter-spacing: var(--oc-theme-typography-body-default-letter-spacing);
	text-transform: var(--oc-theme-typography-body-default-text-transform);
	text-decoration: none;
}
