/* ==========================================================================
   Band
   ========================================================================== */
:host {
	display: block;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

.band {
	padding: 56px 0;
	background: #eff6ff;
}
