/* ==========================================================================
   Band
   ========================================================================== */
:host {
	display: block;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

.band {
	padding: var(--oc-spacing-56) 0;
	background: var(--oc-theme-color-background-brand);
	font-family: var(--oc-theme-typography-body-default-font-family), sans-serif;
	font-size: var(--oc-theme-typography-body-default-font-size);
	font-weight: var(--oc-theme-typography-body-default-font-weight);
	line-height: var(--oc-theme-typography-body-default-line-height);
	letter-spacing: var(--oc-theme-typography-body-default-letter-spacing);
	color: var(--oc-theme-color-content-default);
}
