/* ==========================================================================
   Layout Container
   → components/layout-container/layout-container.css
   ========================================================================== */

.layout-container {
	margin: 0 auto;
	padding: 0 24px;
	max-width: 1143px;
}

.layout-container--narrow {
	max-width: 672px;
}
