/* ==========================================================================
   Text Passage Block
   ========================================================================== */
:host {
	display: block;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
.text-passage {
	font-family: var(--oc-theme-typography-body-default-font-family), sans-serif;
	font-size: var(--oc-theme-typography-body-default-font-size);
	font-weight: var(--oc-theme-typography-body-default-font-weight);
	line-height: var(--oc-theme-typography-body-default-line-height);
	letter-spacing: var(--oc-theme-typography-body-default-letter-spacing);
	color: var(--oc-theme-color-content-default);

	p {
		margin-block-end: 32px;
	}

	:last-child {
		margin-block-end: 0;
	}
}

.text-passage--lg {
	font-family: var(--oc-theme-typography-body-lg-font-family);
	font-size: var(--oc-theme-typography-body-lg-font-size);
	line-height: var(--oc-theme-typography-body-lg-line-height);
	letter-spacing: var(--oc-theme-typography-body-lg-letter-spacing);
	text-transform: var(--oc-theme-typography-body-lg-text-transform);
	font-weight: var(--oc-theme-typography-body-lg-font-weight);
}
